# Caddyfile - Reverse Proxy Configuration

{
    email alegaranzini@gmail.com
}

cms.nheromilano.garanzini.dev {
     reverse_proxy directus:8055
}


nheromilano.garanzini.dev { 
    reverse_proxy website:3000
}

# Local development setup
# :80 {
#     # Directus on /
#     reverse_proxy directus:8055
# }
